<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="StemApp">
    <head>
        <title>StemApp - Stichting Fzes</title>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--css-->     
        <link href="assets/css/components.css" rel="stylesheet">
        <link href="assets/css/normalize.css" rel="stylesheet">
        <link href="assets/css/demo.css" rel="stylesheet">
        <link href="assets/css/component.css" rel="stylesheet">
        <link href="assets/css/card.css" rel="stylesheet">
        <link href="assets/css/stelling.css" rel="stylesheet">
        <!--<link href="assets/css/components-right.css" rel="stylesheet">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">        
        
        <!--javascript-->
        <script src="assets/libraries/angular.min.js"></script>
        <script src="assets/libraries/angular-route.min.js"></script>
        <script src="assets/libraries/modernizr.custom.js"></script>
        
        
        <!-- Modules -->
        <script src="app/module.js"></script>
        <script src="app/routes.js"></script>
        
    
        <!-- Services -->
        <script src="app/services/VragenlijstService.js"></script>


        <!--controllers-->
        <script src="app/controllers/MainController.js"></script>
        <script src="app/controllers/VragenlijstController.js"></script>
        <script src="app/controllers/StellingController.js"></script>
    </head>
    
    <body ng-controller="MainController">
<!--               
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   
                </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a ng-click="goToDashBoard()">Home</a></li>
                <li><a ng-click="goToSchool()">Schools and regions</a></li> 
                <li><a ng-click="goToCategories()">Categories</a></li> 
                <li><a ng-click="goToQuestionaires()">Questionaires </a></li>
                <li><a ng-click="goToAccountRequests()">Account requests</a></li> 
                <li><a ng-click="goToQuestionaires()">Settings</a></li> 
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </div>
</nav>-->
        
    <div id="st-container" class="st-container">
			<!--
				example menus
				these menus will be on top of the push wrapper
			-->
			<nav class="st-menu st-effect-11" id="menu-11">
				<h2>StemApp</h2>
				<ul>
                                        <li><a ng-click="goToHome()">HOME</a></li>
                                        <li><a ng-click="goToVragenlijsten()">VRAGENLIJSTEN</a></li>
					<li><a href="#">UITLEG</a></li>
					<li><a href="#">CONTACT</a></li>
					<li><a href="#">UITLOGGEN</a></li>
				</ul>

				<section class="nav-footer">
					<p>Deze app is gemaakt door <b>Fzes</b></p>
				</section>
			</nav>

			<!-- content push wrapper -->
			<div class="st-pusher">

				<div class="st-content"><!-- this is the wrapper for the content -->
					<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
						<!-- Top Navigation -->
						<section class="nav-bar">
							<section class="hamburger-icon">
								<div id="st-trigger-effects">
									<button data-effect="st-effect-11">MENU</button>
								</div>
							</section>
						</section>
						<article class="flex-view" ng-view></article>
					</div><!-- /st-content-inner -->
				</div><!-- /st-content -->
			</div><!-- /st-pusher -->
		</div><!-- /st-container -->
        <script src="assets/libraries/classie.js"></script>
        <script src="assets/libraries/sidebarEffects.js"></script>
        
        
       
    </body>
</html>
