<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="container-fluid">
    
    <section>
            <section class="panel panel-default">
                <div class="panel-heading"><h1>Account requests</h1></div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Teacher</th>
                                    <th>Region</th>
                                    <th>School</th>
                                    <th>Decision</th>
                                </tr>
                            </thead>
                            <tbody id="requestTable">
                                   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>   <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                                <tr>
                                    <td class="customCell">Henk</td>
                                    <td class="customCell">Zuid-Holland</td>
                                    <td class="customCell">Hogeschool Leiden</td>
                                    <td class="customCell"><button class="btn btn-default">Accept</button> <button class="btn btn-default">Reject</button></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </section>
    </section>
</section>
