<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="container-fluid">
    
    <section>
            <section class="panel panel-default">
                <div class="panel-heading"><h1>Account requests</h1></div>
                    <div class="panel-body">
                       
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                            <article class="list-group-item">
                            <section class="row">
                                <article class="col-sm-3">Henk</article>
                                <article class="col-sm-3">Zuid-Holland</article>
                                <article class="col-sm-3">Hogeschool Leiden</article>
                                <article class="col-sm-3 flex-container"> <button class="btn btn-default btn flex-view btn-accept">Accept</button> <button class="btn-deny btn btn-default flex-view">Deny</button></article>
                            </section>
                        </article>
                        
                </div>
            </section>
    </section>
</section>
