
<section class="container-fluid row">
    <article class="panel-group col-sm-6" >
                    <section class="panel panel-default">
                        <article class="panel-heading">
                                <h1>Regions</h1>
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input type="search" class="form-control" id="searchRegion" placeholder="Search regions">
                                    </div>

                                    <div class="form-inline form-group">
                                        <input type="text" placeholder="Enter a new region name" ng-model="regionToAdd" class="form-control">
                                        <button type="submit" ng-click="add(regionToAdd)" class="btn btn-default">Submit</button>
                                    </div>
                                </form>
                        </article>
                    
                        <article class="panel-body">
                            <ul id="regionList" class="list-group">
                                <li class="list-group-item clearfix" ng-repeat="regio in schoolRegions track by $index">
                                    {{regio.name}}<button class="btn btn-default pull-right" ng-click="removeRegion($index)"><span class="material-icons">delete</span></button>
                                </li>
                            </ul> 
                        </article>
                </section>
            </article>
            
            <article class="panel-group col-sm-6" >
                    <section class="panel panel-default">
                        <article class="panel-heading">
                                <h1>Schools</h1>
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input type="search" class="form-control" id="searchSchool" ng-model="schoolPattern" placeholder="Search schools">
                                    </div>
                        
                                    <div class="form-inline form-group">
                                        <input type="text" placeholder="Enter a new school name" class="form-control" ng-model="schoolToAdd">
                                        <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#addSchoolModal">Submit</button>
                                    </div>
                                </form>
                        </article>
                
                        <article class="panel-body">
                            <ul id="schoolList" class="list-group">
                                <li class="list-group-item clearfix" ng-repeat="school in schools track by $index">
                                    {{school.name}}<button class="btn btn-default pull-right" ng-click="removeRegion($index)"><span class="material-icons">delete</span></button>
                                </li>
                            </ul> 
                        </article>
                    </section>
        </article>
    
    <div id="addSchoolModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <article class="modal-content">
                <section class="modal-header">
                    <h4 class="modal-title">Select a region for <span class="label label-default">{{schoolToAdd}}</span></h4>
                </section>
                
                <section class="modal-body">
                    <select class="form-control" ng-model="slectedSchoolRegion" ng-options='region for region in schoolRegions'></select>
                </section>
                
                <section class="modal-footer">
                    <button type="button" ng-click="addSchool(schoolToAdd)" class="btn btn-default" data-dismiss="modal">Add</button>
                </section>
            </article>
        </div>
    </div>
        </section>


