<section>
    <section class="panel-body">
        <ul class="card_list">   
            <li class="card card_list_item card-gemeenteraad text-white">
                <section>
                    <h1>{{currentStelling.titel}}</h1>

                    <article>
                        <h2>{{currentStelling.stelling}}</h2>
                        <h3>{{currentStelling.uitleg}}</h3>
                        
                        <button ng-click="next()" type="button" class="button answer pink"><i class="fa fa-times" aria-hidden="true"></i> oneens</button>
                        <button ng-click="next()" type="button" class="button answer blue"><i class="fa fa-check" aria-hidden="true"></i> eens</button>
            
                    </article>
                </section>
            </li>
        </ul>
    </section>
</section>