<section>
    <section class="content-area">
        <section class="content-wrapper background-purple">
            <hgroup>
                <h1 class="header1">{{currentStelling.titel}}</h1>
                <h2 class="header2">{{currentStelling.stelling}}</h2>
                <h3 class="header2">{{currentStelling.uitleg}}</h3>
            </hgroup>

                <section class="button-group">
                    <button ng-click="next()" type="button" class="button answer pink left fluid"><i class="fa fa-times" aria-hidden="true"></i> oneens</button>
                    <button ng-click="next()" type="button" class="button answer blue right fluid"><i class="fa fa-check" aria-hidden="true"></i> eens</button>
                </section>
            <button ng-click="next()" type="button" class="button-transparent fluid">geef me meer uitleg</button>
            <p class="header1 text-center">{{position + 1}} van de {{selected_questionaire.stellingen.length}}</p>
        </section>
    </section>
</section>