<body ng-controller="VragenController">
<section class="container-fluid">
        <article class="panel panel-default">
            <section class="panel-heading clearfix">
                <h1>Creating a questionaire</h1>
                    <form role="form">
                        <div class="form-group">
                          <label for="title">Name of the questionaire:</label>
                          <input type="text" placeholder="Enter a name" ng-model="name" class="form-control" id="title">
                        </div>
                        
                        <div class="form-group">
                          <label for="region-select">Select a region</label>
                          <select class="form-control" id="region-select" ng-model='region' ng-options='region for region in regions'></select>
                        </div>
                        
                        <div class="form-group">
                          <label for="category-select">Select a category</label>
                          <select class="form-control" id="category-select" ng-model='category' ng-options='category for category in categories'></select>
                        </div>
                        
                         <div class="form-group">
                          <label for="numberOfQuestionsBox">Number of questions:</label>
                          <input type="number" min="1" ng-model="numberOfLayouts" ng-change="createQuestionLayouts()" class="form-control" id="numberOfQuestionsBox">
                        </div>
                        
                        <div class="form-group">
                            <input class="form-control" ng-model="politici_start" type="date" name="politici_start">
                            <input class="form-control" ng-model="politici_end" type="date" name="politici_end">
                            <input class="form-control" ng-model="student_start" type="date" name="student_start">
                            <input class="form-control" ng-model="student_end" type="date" name="student_end">
                        </div>
                    </form>
            </section>
            
            <section class="panel-body">
                <ul class="list-group" ng-repeat="layout in layouts track by $index">
                    <li>
                        <form>
                            <input class="form-control" style="margin-bottom: 5px;" type="text" ng-model="layout.title">
                            <textarea class="form-control" type="text" ng-model="layout.question" rows="5" id="questionBody"></textarea>
                        </form>
                    </li>
                </ul>

            </section>
        </article>
    
    <div class="clearfix">
        <button class="btn btn-danger pull-left" ng-click="goToQuestionaires()">Cancel</button>
        <button class="btn btn-success pull-right" ng-click="tempMessage()">Add</button>
    </div>


    </section>
    {{createQuestionLayouts()}}
</body>

