<body ng-controller="VragenlijstController">    
    <section class="container-fluid">
        <article class="panel panel-default">
            <section class="panel-heading clearfix">
                <h1>Questionaires</h1>
                <button class="fab pull-right" ng-click="goToQuestionaire()"><i class="material-icons">add</i></button>
            </section>
            <section class="panel-body">
                <ul class="list-group" ng-repeat="questionaire in questionaires">                  
                    <li class="list-group-item" ng-click="showAlert2(questionaire.id)()">
                                <section class="row" style="text-align: center">
                                   <article class="col-sm-3"><h4>{{questionaire.name}}</h4> </article>
                                   <article class="col-sm-3"><h4><span class="label label-default">{{questionaire.region}}</span></h4></article>
                                   <article class="col-sm-3"> <h4><span class="label label-default">{{questionaire.category}}</span></h4></article>
                                   <article class="col-sm-3"> {{questionaire.active}}</article>
                                </section>
                        </li>
                </ul>

            </section>
        </article>
    </section>
        
</body>
